$color-red: #F25A33;
$color-white: #FAFAFA;
$color-grey: #A8A8A8;
$color-more-grey: #888888;
$color-green: #00BD18;
$color-blue: #4EB4DD;
$color-dark: #414141;
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

body {
  font-family: 'Merriweather Sans', sans-serif;
  height: 95vh;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 390px;

  .notification {
    position: relative;
    background: $color-dark;
    color: $color-white;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    z-index: 10;

    &-up {
      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-top: 10px solid $color-dark;
        bottom: -10px;
      }
    }

    &-down {
      display: none;
      position: absolute;
      bottom: -80px;

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-bottom: 10px solid $color-dark;
        top: -10px;
        left: 5px;
      }
    }

    &-right {
      right: 0;
    }
  }

  .box {
    flex: 1 1 auto;
    border: 1px solid $color-grey;
    margin: 20px 10px;
    color: $color-more-grey;

    #myProgress {
      width: 100%;
      background-color: $color-white;
      border: 1px solid $color-grey;

      #myBar {
        width: 0;
        height: 15px;
        background-color: $color-red;
      }
    }

    .content {
      padding: 20px;

      .info {
        color: $color-red;
        font-weight: bold;
      }

      .info-panel {
        position: relative;
        margin-top: 10px;
      }

      .donate-value {
        margin-right: 20px;
        border: 1px solid $color-grey;
        border-radius: 5px;
        display: inherit;
        flex: 1;
        overflow: hidden;

        &-icon {
          padding-left: 10px;
          font-size: 20px;
          font-weight: bold;
          display: flex;
          align-items: center;
        }

        input {
          border: none;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  .button {
    height: 50px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;

    &:hover {
      opacity: 0.7;
    }

    &--submit {
      background: $color-green;
      color: $color-white;

    }

    &--normal {
      background: $color-white;
      color: $color-more-grey;
      border: 1px solid $color-grey;
    }
  }

  .button--link {
    border: none;
    background: none;
    color: $color-blue;
    font-style: italic;
    font-size: 16px;
  }

  .flex-panel {
    display: flex;
    position: relative;

    button:first-child{
      margin-right: 10px;
    }

    button:last-child {
      margin-left: 10px;
    }

    button {
      flex: 1;
      font-size: 16px;
    }
  }

  .button-panel {
    margin: 0 10px;
  }
}
