$color-red: #F25A33;
$color-white: #FAFAFA;
$color-grey: #A8A8A8;
$color-more-grey: #888888;
$color-green: #00BD18;
$color-blue: #4EB4DD;
$color-dark: #414141;
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

body {
  font-family: 'Merriweather Sans', sans-serif;
}

.container {
  width: 390px;

  .box {
    flex: 1 1 auto;
    border: 1px solid $color-grey;
    margin: 20px 10px;
    color: $color-more-grey;

    #myProgress {
      width: 100%;
      background-color: $color-white;
      border: 1px solid $color-grey;
    }
    #myBar {
      // width: 70%;
      height: 15px;
      background-color: $color-red;
      text-align: center; /* To center it horizontally (if you want) */
      line-height: 30px; /* To center it vertically */
      color: white;
    }
  }

  .notification {
    position: relative;
    background: $color-dark;
    color: $color-white;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }

  .notification:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid $color-dark;
    bottom: -10px;
  }

  .donate {
    padding: 20px;
  }

  .button--link {
    border: none;
    background: none;
    color: $color-blue;
    font-style: italic;
    font-size: 16px;

  }

  .button--success {
    height: 50px;
    font-weight: bold;
    background: $color-green;
    border: none;
    color: $color-white;
    border-radius: 5px;
    outline: none;
  }

  .button--success:hover {
    opacity: 0.7;
  }

  .button--standard {
    height: 50px;
    font-weight: bold;
    background: $color-white;
    border: none;
    color: $color-more-grey;
    border-radius: 5px;
    outline: none;
    border: 1px solid $color-grey;
  }

  .info {
    color: $color-red;
    font-weight: bold;
  }

  .flex-panel {
    display: flex;
    position: relative;

    button {
      flex: 1;
      font-size: 16px;
    }

    .input {
      border: 1px solid $color-grey;
      border-radius: 5px;
      display: inherit;
      flex: 1;
      overflow: hidden;

      &-icon {
        padding-left: 10px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
      }

      input {
        border: none;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .button-info-panel {
    position: relative;
    margin-top: 10px;
  }

  .button-panel {
    margin: 0 10px;
  }

  .save-notification {
    display: none;
    position: absolute;
    bottom: -80px;
    background: $color-dark;
    color: $color-white;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
  }


  .save-notification:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid $color-dark;
    top: -10px;
    left: 5px;
  }

}
